@import "tailwindcss";
@import "@radix-ui/themes/styles.css";
@import "remixicon/fonts/remixicon.css";
@import "../styles/extradix.css";
@import "../styles/utilities.css";
@import "../styles/gallery.css";
@import "../styles/transforms.css";

@theme {
  --font-poppins: "--font-poppins";
  --font-montserrat: "--font-montserrat";
  --font-orbitron: "--font-orbitron";
  --font-send-flowers: "--font-send-flowers";
  --font-sacramento: "--font-sacramento";
  --font-plus-jakarta-sans: "--font-plus-jakarta-sans";
  --font-gloock: "--font-gloock";
  --font-cormorant-garamond: "--font-cormorant-garamond";
}

html {
  background: #0e2544;
}

* {
  @apply font-montserrat!;
}

.scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--accent-10);
  border-radius: 9999px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

