@import "tailwindcss";
@import "@radix-ui/themes/styles.css";
@import "remixicon/fonts/remixicon.css";
@import "../styles/extradix.css";
@import "../styles/utilities.css";
@import "../styles/gallery.css";
@import "../styles/transforms.css";


@theme {
  --font-poppins: "--font-poppins";
  --font-montserrat: "--font-montserrat";
  --font-orbitron: "--font-orbitron";
  --font-send-flowers: "--font-send-flowers";
  --font-sacramento: "--font-sacramento";
  --font-plus-jakarta-sans: "--font-plus-jakarta-sans";
  --font-gloock: "--font-gloock";
  --font-cormorant-garamond: "--font-cormorant-garamond";
}

html {
  background: #0e2544;
}

* {
  @apply font-montserrat!;
}
