/* background-color */
.dark, .dark-theme, :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #0e2544;
}

/* accent-color */

.dark, .dark-theme {
  --blue-1: #19282d;
  --blue-2: #1b2c32;
  --blue-3: #083c4a;
  --blue-4: #00495c;
  --blue-5: #00556b;
  --blue-6: #00637b;
  --blue-7: #007491;
  --blue-8: #008baf;
  --blue-9: #00bce3;
  --blue-10: #00b0d7;
  --blue-11: #34cff7;
  --blue-12: #afefff;

  --blue-a1: #f865000c;
  --blue-a2: #fba5000e;
  --blue-a3: #00ff7d1b;
  --blue-a4: #00fbd22b;
  --blue-a5: #00fcf339;
  --blue-a6: #00f8ff4b;
  --blue-a7: #00e5ff69;
  --blue-a8: #00d7ff92;
  --blue-a9: #00d6ffd9;
  --blue-a10: #00d5ffc9;
  --blue-a11: #35d6fef5;
  --blue-a12: #afefff;

  --blue-contrast: #fff;
  --blue-surface: #28332180;
  --blue-indicator: #00bce3;
  --blue-track: #00bce3;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --blue-1: oklch(26.5% 0.0223 219.8);
      --blue-2: oklch(28.1% 0.0248 219.8);
      --blue-3: oklch(33.2% 0.0561 219.8);
      --blue-4: oklch(37% 0.0787 219.8);
      --blue-5: oklch(41.1% 0.0885 219.8);
      --blue-6: oklch(45.7% 0.0953 219.8);
      --blue-7: oklch(51.4% 0.1062 219.8);
      --blue-8: oklch(58.4% 0.126 219.8);
      --blue-9: oklch(73.5% 0.1337 219.8);
      --blue-10: oklch(70% 0.1337 219.8);
      --blue-11: oklch(79.4% 0.1337 219.8);
      --blue-12: oklch(91.5% 0.0695 219.8);

      --blue-a1: color(display-p3 0.9765 0.5922 0 / 0.035);
      --blue-a2: color(display-p3 1 0.8118 0 / 0.047);
      --blue-a3: color(display-p3 0.2667 0.9922 0.4824 / 0.106);
      --blue-a4: color(display-p3 0.2706 1 0.8314 / 0.165);
      --blue-a5: color(display-p3 0.3294 1 0.9569 / 0.22);
      --blue-a6: color(display-p3 0.3686 0.9765 1 / 0.286);
      --blue-a7: color(display-p3 0.3608 0.902 1 / 0.403);
      --blue-a8: color(display-p3 0.3608 0.8549 1 / 0.556);
      --blue-a9: color(display-p3 0.3843 0.8471 1 / 0.831);
      --blue-a10: color(display-p3 0.3725 0.8431 1 / 0.768);
      --blue-a11: color(display-p3 0.4314 0.8471 1 / 0.937);
      --blue-a12: color(display-p3 0.7451 0.9373 1 / 0.99);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.1647 0.2039 0.1255 / 0.5);
      --blue-indicator: oklch(73.5% 0.1337 219.8);
      --blue-track: oklch(73.5% 0.1337 219.8);
    }
  }
}

/* gray-color */
.dark, .dark-theme {
  --gray-1: #1c2632;
  --gray-2: #222c39;
  --gray-3: #263548;
  --gray-4: #273a53;
  --gray-5: #2a405c;
  --gray-6: #2c4769;
  --gray-7: #31537e;
  --gray-8: #476b99;
  --gray-9: #5276a6;
  --gray-10: #5d82b2;
  --gray-11: #98b9e3;
  --gray-12: #e6effb;

  --gray-a1: #fc37000f;
  --gray-a2: #f6770016;
  --gray-a3: #fac26c1a;
  --gray-a4: #faecd21b;
  --gray-a5: #e7f6fe21;
  --gray-a6: #a4cffd33;
  --gray-a7: #7db8fd50;
  --gray-a8: #8bbfff74;
  --gray-a9: #8fbfff86;
  --gray-a10: #94c4ff96;
  --gray-a11: #b0d2ffd9;
  --gray-a12: #ebf3fffa;

  --gray-contrast: #FFFFFF;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #5276a6;
  --gray-track: #5276a6;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --gray-1: oklch(26.5% 0.0271 255.3);
      --gray-2: oklch(29.1% 0.0278 255.3);
      --gray-3: oklch(32.4% 0.039 255.3);
      --gray-4: oklch(34.5% 0.05 255.3);
      --gray-5: oklch(36.6% 0.0562 255.3);
      --gray-6: oklch(39.3% 0.0677 255.3);
      --gray-7: oklch(43.7% 0.0821 255.3);
      --gray-8: oklch(52.1% 0.0843 255.3);
      --gray-9: oklch(56% 0.0843 255.3);
      --gray-10: oklch(59.9% 0.0843 255.3);
      --gray-11: oklch(77.6% 0.0709 255.3);
      --gray-12: oklch(94.9% 0.0191 255.3);

      --gray-a1: color(display-p3 0.9922 0.3255 0 / 0.043);
      --gray-a2: color(display-p3 0.9882 0.5961 0 / 0.069);
      --gray-a3: color(display-p3 0.9961 0.8824 0.4353 / 0.09);
      --gray-a4: color(display-p3 1 0.9843 0.8588 / 0.098);
      --gray-a5: color(display-p3 0.9137 0.9765 1 / 0.127);
      --gray-a6: color(display-p3 0.698 0.8431 1 / 0.191);
      --gray-a7: color(display-p3 0.5608 0.7412 1 / 0.302);
      --gray-a8: color(display-p3 0.6078 0.7686 1 / 0.44);
      --gray-a9: color(display-p3 0.6196 0.7647 1 / 0.508);
      --gray-a10: color(display-p3 0.6314 0.7804 1 / 0.572);
      --gray-a11: color(display-p3 0.7373 0.8392 1 / 0.831);
      --gray-a12: color(display-p3 0.9294 0.9569 1 / 0.974);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(56% 0.0843 255.3);
      --gray-track: oklch(56% 0.0843 255.3);
    }
  }
}